<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="UserName" value="SUNSTATE\suman.thodeti"/>
    <add key="Password" value="winter2020$"/>
    <add key="OrgServiceUri" value="https://ssedev.sunstateequip.com/XRMServices/2011/Organization.svc"/>
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="log-{Date}.txt" />
    <!--<add key="serilog:using:File" value="Serilog.Sinks.File"/>
    <add key="serilog:write-to:File.path" value="log.txt"/>-->
  </appSettings>
</configuration>
